.row
  %h1
  .col-sm-4.col-sm-offset-4
    = image_tag 'Reptar_text.png', class: 'img-responsive', style: 'margin: auto;'

%br
%br

.row.dinosaur.white.flex
  .col-sm-4.col-sm-offset-2.padded-bottom{ style: 'background-color: #777' }
    %h1 Login
    = render partial: 'devise/sessions/new_form'
  .col-sm-4.padded-bottom{ style: 'background-color: #333' }
    %h1 Sign Up
    = render partial: 'devise/registrations/new_form'
