body.hearts {
  background-image: asset-url("heart-background.jpg");
  background-repeat: repeat;
  background-position: center;
}

body.rueschman {
  background-color: #ffa400;
}

nav.rueschman {
  background-color: #5999de;
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
}

.padded-bottom {
  padding-bottom: 20px;
}

#fixed-dinosaur {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 300px;
  z-index:0;
}


.row {
  margin-bottom: 50px;
}

p#show {
  margin-top: 100px;
}
